<div id="sign_in1">
<section id="section" class="container">
  <div class="row">
      <div class="span12 header">
        <h1>Вдох</h1>
      </div>
      <%= form_tag sessions_path do %>
      <div class="span12 footer">
          <div class="field">
            <%= label_tag :email %>
            <%= text_field_tag :email, params[:email] %>
          </div>
          <div class="field">
            <%= label_tag "Пароль" %>
            <%= password_field_tag :password %>
          </div>
      </div>
      <div class="span12 proof">
        <div class="field">
          <%= check_box_tag :remember_me, 1, params[:remember_me] %>
          <%= label_tag "Запомни меня" %>
        </div>
        <div class="actions"><%= submit_tag "Вдох" %></div>
        <div> Или <%= link_to "Зарегистрируйтесь", signup_path %></div>
      </div>
      <% end %>
      <div class="span3 division">
        <div class="line l"></div> 
        <span>Забыли пароль?</span> 
        <div class="line r"></div>
      </div>
      <div class="span12 footer">
        <%= render 'forgot_password_form' %>
      </div>
  </div>
</section>
</div>