.group
  = f.label :name, t("activerecord.attributes.welcome.name", :default => "Название"), :class => :label
  = f.text_field :name, :class => 'text_field'
  %span.description Ex: Будет написано на плашке с оранжевым фоном
.group
  = f.label :visible, t("activerecord.attributes.welcome.visible", :default => "Показывать?"), :class => :label
  = f.check_box :visible, :class => 'check_box'
  %span.description  показывать / не показывать этот баннер на главной странице
.group
  = f.label :url, t("activerecord.attributes.welcome.url", :default => "Ссылка"), :class => :label
  = f.text_field :url, :class => 'text_field'
  %span.description Ex: /pages/3 
.group
  = f.label :text, t("activerecord.attributes.welcome.text", :default => "Сопроводительный текст"), :class => :label
  = f.text_area :text, :class => 'text_area'
  %span.description Ex: здесь нужен очень короткий текст, 10 - 20 символов, он показывается на баннере, на подложке.. Текст второй строчки должен быть заключен в команды (<span>... </span>)
.group
  = f.label :position, t("activerecord.attributes.welcome.position", :default => "Порядок"), :class => :label
  = f.text_field :position, :class => 'text_field'
  %span.description Ex: порядок показа баннеров на главной
.group
  = f.label :image, t("activerecord.attributes.welcome.image", :default => "Баннер"), :class => :label
  = f.file_field :image, :class => 'text_field'
  %span.description Ex: Картинка в формате jpg, gif, png, размером 1600х1000, разрешением 72dpi
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "or")
  = link_to t("web-app-theme.cancel", :default => "Cancel"), admin_welcomes_path, :class => "text_button_padding link_button"
