.group
  = f.label :name, t("activerecord.attributes.welcome.name", :default => "Название"), :class => :label
  = f.text_field :name, :class => 'text_field'
  %span.description Ex: Будет написано на плашке с оранжевым фоном
.group
  = f.label :visible, t("activerecord.attributes.welcome.visible", :default => "Показывать?"), :class => :label
  = f.check_box :visible, :class => 'check_box'
  %span.description  показывать / не показывать этот баннер на главной странице
.group
  = f.label :url, t("activerecord.attributes.welcome.url", :default => "Ссылка"), :class => :label
  = f.text_field :url, :class => 'text_field'
  %span.description Ex: /pages/3 
.group
  = f.label :text, t("activerecord.attributes.welcome.text", :default => "Текст на белой плашке"), :class => :label
  = f.text_area :text, :class => 'text_area', :style=>"height: 20px;"
  %span.description Ex: здесь нужен очень короткий текст, 10 - 20 символов, он показывается на баннере, на подложке.. 
.group
  = f.label :style_text, t("activerecord.attributes.welcome.text", :default => "Стиль белой плашки"), :class => :label
  = f.text_field :style_text, :class => 'text_field'
  %span.description Стиль по умолчанию такой: position: absolute; top: 50px;left: 50px;background: white;opacity: 0.6; color:black; font-size: 18pt;padding: 10px;
  
.group
  = f.label :second_text, t("activerecord.attributes.welcome.second_text", :default => "Текст на цветной плашке"), :class => :label
  = f.text_area :second_text, :class => 'text_area', :style=>"height: 20px;"
  %span.description Ex: здесь нужен очень короткий текст, 10 - 20 символов, он показывается на баннере, на подложке.. 
.group
  = f.label :style_second_text, t("activerecord.attributes.welcome.style_second_text", :default => "Стиль цветной плашки"), :class => :label
  = f.text_field :style_second_text, :class => 'text_field'
  %span.description Стиль по умолчанию такой: position: absolute; top: 150px; left: 50px; background: #FC8100; opacity: 0.6; color: white; font-size: 12pt;padding: 10px; 

.group
  = f.label :position, t("activerecord.attributes.welcome.position", :default => "Порядок"), :class => :label
  = f.text_field :position, :class => 'text_field'
  %span.description Ex: порядок показа баннеров на главной
.group
  = f.label :image, t("activerecord.attributes.welcome.image", :default => "Баннер"), :class => :label
  = f.file_field :image, :class => 'text_field', :style=>"width: 250px; float: left; margin-right: 50px;"
  = image_tag(@welcome.image_url, :size=>"102x40") if @welcome.image?
  %br
  %span.description Ex: Картинка в формате jpg, gif, png, размером 1024х400, разрешением 72dpi
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "or")
  = link_to t("web-app-theme.cancel", :default => "Cancel"), admin_welcomes_path, :class => "text_button_padding link_button"
