<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    <h1>На сайте новая заявка от <%= @user.fullname||"не указан" %></h1>
    <p>Поздравляем!</p>    
    <p>Возраст: <%= @user.birthday||"не указан" %></p>
    <p><%= @user.tel %></p>
    <p><%= @user.mail %></p>
    <p><%= @user.about %></p>
    <p>Чтобы посмотреть более полную информацию пройдите по ссылке    </p>
    <p><%= link_to @user.fullname||"Ссылка", admin_person_url(@user)%>
    </p>

  </body>
</html>