-content_for :stylesheets do
  = stylesheet_link_tag 'web-app-theme/base1', "/stylesheets/web-app-theme/override"
%section#section  
  #grouplist
    %h3
      = @group.program.name
    = image_tag( @group.teacher.full_photo.url, :style=>"width: 200px;")      
    = @group.name
    %br
    -if @group.prim?
      = @group.prim
    - if @group.calendar?
      %h3
        Расписание занятий
      = simple_format(@group.calendar)
    - if @group.price?        
      %h3
        Стоимость обучения
      = number_to_currency(@group.price.abs, :precision => 0) if @group.price?
      = @group.desc
      - if @group.program_id? 
        %h3
          Учебная программа
        = simple_format(@group.program.annotation) if @group.program_id?          
  .contentt{:style=>"width: 600px;padding-left: 13px;"}
    %h2.title
      Подать заявку на обучение
    .inner
      = form_for ([@group,@person], :html => { :class => :form } ) do |f|
        .group
          = f.label :fullname, t("activerecord.attributes.person.fullname", :default => "Полное имя ученика"), :class => :label
          = f.text_field :fullname, :class => 'text_field'
          %span.description Ex: Иванов Иван
        .group
          = f.label :current_group, t("activerecord.attributes.person.current_group", :default => "группа"), :class => :label
          = f.hidden_field :current_group, :value=>@group.id
          = @group.program.name
          (
          = @group.name           
          )
        .group
          = f.label :tel, t("activerecord.attributes.person.tel", :default => "Номер телефона для связи (одного из родителей)"), :class => :label
          = f.text_field :tel, :class => 'text_field'
          %span.description Ex: +79265554433 (Иванова Татьяна)
        .group
          = f.label :mail, t("activerecord.attributes.person.mail", :default => "Адрес электронной почты"), :class => :label
          = f.text_field :mail, :class => 'text_field'
          %span.description Ex: mail@mail.com          
        .group
          = f.label :birthday, t("activerecord.attributes.person.birthday", :default => "Дата рождения"), :class => :label
          = f.date_select (:birthday, :start_year=>Time.now.year-21, :end_year=>Time.now.year, :class => 'datetime_select')
          %span.description Ex: 1 апреля 1995 года
        .group
          = redactor("#person_about")
          = f.label :about, t("activerecord.attributes.person.about", :default => "Дополнительная информация"), :class => :label
          = f.text_area :about, :class => 'text_area'
        .group.navform.wat-cf
          %button.button{:type => "submit"}
            = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
            = t("web-app-theme.save", :default => "Save")
          %span.text_button_padding= t("web-app-theme.or", :default => "or")
          = link_to t("web-app-theme.cancel", :default => "Cancel"), group_people_path(@group), :class => "text_button_padding link_button"
