.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_teachers_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_teacher_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Teachers
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.admin_teacher.fullname", :default => t("activerecord.labels.fullname", :default => "Fullname"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @teachers.each do |teacher|
          %tr{:class => cycle("odd", "even")}
            %td
              = teacher.id
            %td
              = link_to teacher.fullname, admin_teacher_path(teacher)
            %td
              = teacher.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", admin_teacher_path(teacher)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_teacher_path(teacher)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_teacher_path(teacher), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
