.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", admin_teachers_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_teacher_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_teacher_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.admin_teacher.fullname", :default => t("activerecord.labels.fullname", :default => "Полное имя"))
          \:
        = @teacher.fullname
      %p
        %b
          = t("activerecord.attributes.admin_teacher.link", :default => t("activerecord.labels.link", :default => "короткая ссылка"))
          \:
        = @teacher.link
      %p
        %b
          = t("activerecord.attributes.admin_teacher.about", :default => t("activerecord.labels.about", :default => "Информация о преподавателе"))
          \:
        = @teacher.about
      %p
        %b
          = t("activerecord.attributes.admin_teacher.portfolio_id", :default => t("activerecord.labels.portfolio_id", :default => "Портфолио"))
          \:
        = @teacher.portfolio_id
      %p
        %b
          = t("activerecord.attributes.admin_teacher.video", :default => t("activerecord.labels.video", :default => "Видео"))
          \:
        = @teacher.video
      %p
        %b
          = t("activerecord.attributes.admin_teacher.full_photo_file_name", :default => t("activerecord.labels.full_photo_file_name", :default => "Большая фотография"))
          \:
        = image_tag @teacher.full_photo.url
      %p
        %b
          = t("activerecord.attributes.admin_teacher.avatar_file_name", :default => t("activerecord.labels.avatar_file_name", :default => "Портрет"))
          \:
        = image_tag @teacher.avatar.url
      %p
        %b
          = t("activerecord.attributes.admin_teacher.avatar_file_name", :default => t("activerecord.labels.avatar_file_name", :default => "Группы преподавателя"))
          \:        
        -@teacher.groups.each do |g|
          = image_tag g.teacher.full_photo.url, :style=>"width: 100px;"
          = g.name        
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_teacher_path(@teacher), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_teacher_path(@teacher), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
