.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", admin_attendances_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_attendance_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_attendance_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.admin_attendance.lessonslog_id", :default => t("activerecord.labels.lessonslog_id", :default => "Lessonslog"))
          \:
        = @attendance.lessonslog_id
      %p
        %b
          = t("activerecord.attributes.admin_attendance.group_id", :default => t("activerecord.labels.group_id", :default => "Group"))
          \:
        = @attendance.group_id
      %p
        %b
          = t("activerecord.attributes.admin_attendance.person_id", :default => t("activerecord.labels.person_id", :default => "Person"))
          \:
        = @attendance.person_id
      %p
        %b
          = t("activerecord.attributes.admin_attendance.attendance", :default => t("activerecord.labels.attendance", :default => "Attendance"))
          \:
        = @attendance.attendance
      %p
        %b
          = t("activerecord.attributes.admin_attendance.lateness", :default => t("activerecord.labels.lateness", :default => "Lateness"))
          \:
        = @attendance.lateness
      %p
        %b
          = t("activerecord.attributes.admin_attendance.reason", :default => t("activerecord.labels.reason", :default => "Reason"))
          \:
        = @attendance.reason
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_attendance_path(@attendance), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_attendance_path(@attendance), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
