%section#section
  %article#default.clearfix
    #grouplist{:style=>"clear: both; margin-left: 10px;"}
      %span{:style=>"color: #607890;"}
        ПОДАТЬ ЗАЯВКУ НА ОБУЧЕНИЕ:
        %br/
        -@program.groups.each do |g|
          .group_block{:style=>"position: relative;width: 200px; float: left;clear:both;margin-right: 10px;"}
            .img_cal{:style=>"position: relative;"}
              = link_to image_tag( g.teacher.full_photo.url(:small), :style=>"width: 200px;"), new_group_person_path(g)
              #cal
                = simple_format(g.calendar)
            = link_to "Записаться", new_group_person_path(g)
            %br/
    %span{:style=>"width: 350px;"}
      %h1= @program.name
      = raw(@program.annotation)