.block
  .content
    .inner{:style=>"float: left;"}
      %p
        %b
          = t("activerecord.attributes.admin_program.name", :default => t("activerecord.labels.name", :default => "Название"))
          \:
        = @program.name
      %p
        %b
          = t("activerecord.attributes.admin_program.annotation", :default => t("activerecord.labels.annotation", :default => "Краткое содержание программы"))
          \:
        = simple_format(@program.annotation)
      %p
        %b
          = t("activerecord.attributes.admin_program.type", :default => t("activerecord.labels.type", :default => "Тип"))
          \:
        = @program.type
      %p
        %b
          = t("activerecord.attributes.admin_program.annotation", :default => t("activerecord.labels.annotation", :default => "Созданные группы для этой программы"))
          \:
          %br/
    #grouplist
      -@program.groups.each do |g|
        .group_block{:style=>"position: relative;width: 200px; float: left;clear:both;margin-right: 10px;"}
          .img_cal{:style=>"position: relative;"}
            = link_to image_tag( g.teacher.full_photo.url, :style=>"width: 200px;"), view_group_path(g.label)
            #cal
              = simple_format(g.calendar)
          -#= g.name
          %br/
    .clearfix