%section#section
  #info
    %h1
      = @group.program.name
      %br
      (
      = @group.name
      )
    -if @group.prim?
      = raw(@group.prim)
      %hr
    .col{:style=>"float:left; width: 500px; text-align: left;"}
      - if @group.program_id? 
        %h2
          Учебная программа
        = raw(@group.program.annotation) if @group.program_id?
        %br/
    .col{:style=>"float:left; width: 200px;"}
      - if @group.calendar?
        %h2
          Расписание занятий
        = simple_format(@group.calendar)
        %br/
      - if @group.price?        
        %h2
          Стоимость обучения
        = number_to_currency(@group.price.abs, :precision => 0) if @group.price?
        = @group.desc
        %br/
        %br/
      %h2
        Возраст учеников
      #{@group.age_start} - #{@group.age_finish} лет
      %br/
      %br/
      - if @group.open?      
        %h2
          Хочу учиться
        = link_to "Подать заявку", new_group_person_path(@group), :class=>"button"    
    
  %aside#side.clearfix
    = image_tag @group.teacher.avatar.url, :style=>"width: 300px; "
    %br/
    = @group.teacher.fullname
    -if @group.vk?
      %br/
      = render "vk", :object => @group
  .clearfix