%section#section
  #info
    %h2
      Программа обучения
    = simple_format(@group.program.annotation) if @group.program_id?
  %aside#side.clearfix
    = image_tag @group.teacher.avatar.url, :style=>"width: 300px;float: right; margin-right: 10px;"
    = @group.name
    = link_to "Подать заявку", new_group_person_path(@group)
    %br
    = @group.price
    р.
  .clearfix