%section#feature_slider.lol
  -@banners.each do |b|
    %article#showcasing.slide{style: "background: url('#{b.second_text}') repeat-x top center;"}
      %img{:class=>"#{b.style_second_text}", src: "#{b.image_url}"}
      .info
        %h2=b.text 
#showcase
  .container
    .section_header
      %h3 Наши направления
    .row.feature_wrapper
      .features_op1_row
        -@directions.each do |direction|
          .col-sm-4.feature
            .img_box
              %a{href: "#{direction.link}"}
                =image_tag(direction.img_url(:thumb))
                %span.circle
                  %span.plus +
            .text
              %h6=direction.name
              %p=direction.desc
#features
  .container
    .section_header
      %h3 Live view
    -@news.each do |news|  
      .row.feature
        .col-sm-6{:class => cycle("", "pic-right")}
          %img.img-responsive{src: "#{news.img_url(:thumb)}"}/
        .col-sm-6{:class => cycle("info", "info-left")}
          %h3
            %img{src: "/images/features-ico1.png"}/
            =news.name
          %p=news.desc

