#banner_slide
  .slider-wrapper.theme-orman
    #slider.nivoSlider
      -@banners.each do |b|
        -if b.url?
          =link_to image_tag(b.image_url, :alt=>b.name), b.url
        -else
          =image_tag(b.image_url, :alt=>b.name)
#direction
  .h Направления
  -@directions.each do |direction|
    %article.more_item
      %h1 
        =link_to direction.name, direction.link, :style=>"color: #FC8100;"
      .img_direction
        = image_tag direction.img_url(:thumb)
      %p.text_more
        = direction.desc

#next_course
  .h Ближайшие курсы
  -@groups.each do |group|
    %article.item_event
      .date
        .month= I18n.localize(group.start, :format=>"%B")
        .day= I18n.localize(group.start, :format=>"%d")
      .info
        %h1
          =link_to group.name, view_group_path(group.label)
        =simple_format(group.calendar)
        
#more
  .h Live view
  -@news.each do |news|
    %article.more_item
      %h1= news.name
      .img_more{:style => "background: url('#{news.img_url(:thumb)}');"}
      .text_more
        = news.desc
      = link_to "Читать дальше", news.link, :class=>"link_more" if news.link?

-#buttons
  %a.prev{:href=>"#"}Назад
  %a.next{:href=>"#"}Вперед
  %br.clear/
-#slider{:style=>"position: absolute;"}
  %ul
    -@banners.each do |b|    
      %li{:style=>"position: relative;"}
        =image_tag b.image_url, :alt=>b.name
        .caption_wrapper{:style=>"position: absolute; top: 200px;z-index:200;"}
          .caption
            -if b.url?          
              =link_to simple_format(b.text),  b.url
            -else
              = simple_format(b.text)
            .link_to_banner
              -if b.url?
                =link_to b.name, b.url
              -else
                =b.name
