.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", admin_lessons_logs_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_lessons_log_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_lessons_log_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.admin_lessons_log.group_id", :default => t("activerecord.labels.group_id", :default => "Group"))
          \:
        = @lessons_log.group_id
      %p
        %b
          = t("activerecord.attributes.admin_lessons_log.lesson_num", :default => t("activerecord.labels.lesson_num", :default => "Lesson num"))
          \:
        = @lessons_log.lesson_num
      %p
        %b
          = t("activerecord.attributes.admin_lessons_log.teacher_id", :default => t("activerecord.labels.teacher_id", :default => "Teacher"))
          \:
        = @lessons_log.teacher_id
      %p
        %b
          = t("activerecord.attributes.admin_lessons_log.location_id", :default => t("activerecord.labels.location_id", :default => "Location"))
          \:
        = @lessons_log.location_id
      %p
        %b
          = t("activerecord.attributes.admin_lessons_log.date_lesson", :default => t("activerecord.labels.date_lesson", :default => "Date lesson"))
          \:
        = @lessons_log.date_lesson
      %p
        %b
          = t("activerecord.attributes.admin_lessons_log.count_hours", :default => t("activerecord.labels.count_hours", :default => "Count hours"))
          \:
        = @lessons_log.count_hours
      %p
        %b
          = t("activerecord.attributes.admin_lessons_log.theme_lesson", :default => t("activerecord.labels.theme_lesson", :default => "Theme lesson"))
          \:
        = @lessons_log.theme_lesson
      %p
        %b
          = t("activerecord.attributes.admin_lessons_log.descript", :default => t("activerecord.labels.descript", :default => "Descript"))
          \:
        = @lessons_log.descript
      %p
        %b
          = t("activerecord.attributes.admin_lessons_log.replachement", :default => t("activerecord.labels.replachement", :default => "Replachement"))
          \:
        = @lessons_log.replachement
      %p
        %b
          = t("activerecord.attributes.admin_lessons_log.replachement_pay", :default => t("activerecord.labels.replachement_pay", :default => "Replachement pay"))
          \:
        = @lessons_log.replachement_pay
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_lessons_log_path(@lessons_log), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_lessons_log_path(@lessons_log), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
