.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", admin_payments_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_payment_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_payment_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.admin_payment.person_id", :default => t("activerecord.labels.person_id", :default => "Person"))
          \:
        = @payment.person_id
      %p
        %b
          = t("activerecord.attributes.admin_payment.group_id", :default => t("activerecord.labels.group_id", :default => "Group"))
          \:
        = @payment.group_id
      %p
        %b
          = t("activerecord.attributes.admin_payment.sum", :default => t("activerecord.labels.sum", :default => "Sum"))
          \:
        = @payment.sum
      %p
        %b
          = t("activerecord.attributes.admin_payment.who_received_payment", :default => t("activerecord.labels.who_received_payment", :default => "Who received payment"))
          \:
        = @payment.who_received_payment
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_payment_path(@payment), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_payment_path(@payment), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
