= content_for :javascripts do
  = javascript_include_tag "jquery.scrollTo-1.4.2-min","jquery.serialScroll-1.2.2-min"
.container
  %section#section{:style=>"margin-top:100px;"}
    %aside#sidemenu
    %article#default.clearfix
      %span{:style=>"width: 350px;"}
        = raw(@page.text)
        %br{:style=>"clear: both;"}
        = render "pages/fblike"
        - if current_user
          = link_to "Редактировать", edit_admin_page_path(@page) , :class=>"button"      
