= content_for :javascripts do
  = javascript_include_tag "jquery.scrollTo-1.4.2-min","jquery.serialScroll-1.2.2-min"
%section#section{:style=>"margin-top:100px;"}
  %aside#sidemenu
  %article#default.clearfix
    -if @programs!=nil
      #grouplist{:style=>"clear: both; margin-left: 10px;"}
        %span{:style=>"color: #607890;"}
          ВЫБЕРИТЕ ГРУППУ:
          %br/
        -if @programs.count > 0
          -@programs.each do |program|
            -if program.groups.count>0            
              %div{:style=>"margin-bottom: 120px;clear: both;"}
                %b{:style=>"color: #FC8100;"}
                  = program.name
                -program.groups.each do |g|
                  .group_block{:style=>"position: relative;width: 200px; float: left;clear:both;margin-right: 10px;"}
                    .img_cal{:style=>"position: relative;"}
                      = link_to image_tag( g.teacher.full_photo.url(:small), :style=>"width: 200px;"),  view_group_path(g.label)
                      #cal
                        =link_to simple_format(g.calendar), view_group_path(g.label)
                    = link_to "Записаться", new_group_person_path(g), :class=>"button"
                    %br/
    %span{:style=>"width: 350px;"}
      = raw(@page.text)
      %br{:style=>"clear: both;"}
      = render "pages/fblike"
      - if current_user
        = link_to "Редактировать", edit_admin_page_path(@page) , :class=>"button"      
= render "sticky"