<section >
  <div id="slider" class="slide">
    <div id="mask-gallery">
      <ul id="gallery">
        <% Teacher.all.each do |teacher| %>
          <li><%= image_tag teacher.full_photo.url %>
          </li>
        <% end %>
      </ul>
    </div>      
    <div id="mask-excerpt"> 
  	<ul id="excerpt"> 
      <% Teacher.all.each do |teacher| %>
        <li><%= teacher.fullname %>
        </li>
      <% end %>
  	</ul> 
  	</div>
  </div>
</section>
<p id="notice"><%= notice %></p>

<p>
  <b>Полное имя:</b>
  <%= @teacher.fullname %>
</p>

<p>
  <b>короткая ссылка:</b>
  <%= @teacher.link %>
</p>

<p>
  <b>Несколько слов о:</b>
  <%= simple_format(@teacher.about) %>
</p>

<p>
  <b>Портфолио:</b>

</p>

<div>
  <b>Видео:</b>
  <%= raw(@teacher.video) %>
</div>


<%= link_to 'Редактировать', edit_teacher_path(@teacher) %> |
<%= link_to 'Назад', teachers_path %>
