.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", slideshows_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_slideshow_path
      %li.active= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_slideshow_path
  .content
    %h2.title
      = t("web-app-theme.edit", :default => "Edit")
      Slideshow
    .inner
      = form_for @slideshow, :url => admin_slideshow_path(@slideshow), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
      - key = Rails.application.config.session_options[:key]
      = content_for :scripts do
        = javascript_include_tag "swfobject", "jquery.uploadify"
        :javascript
          var upload_params = {
            '#{key}' : '#{cookies[key]}',
            '#{request_forgery_protection_token}' : '#{form_authenticity_token}',
            '_http_accept': 'application/javascript',
            'photo[slideshow_id]': '#{@slideshow.id}'
          };
          var url = $('input#photo_img').attr('rel');
          $('input#photo_img').uploadify({
            'uploader'     : '/assets/uploadify.swf',
            'script'       : '/photos',
            'fileDataName' : 'photo[img]',
            'fileExt'      : '*.png;*.jpg;*.gif',
            'cancelImg'    : '/images/cancel.png',
            'multi'        : true,
            'scriptData'   : upload_params,
            'auto'         : true,
            'onComplete'   : function(e, id, obj, response, data) {
              $('#photos').append(response);
            }
          });

      #photos
        = render :partial => 'photos/photo', :collection => @slideshow.photos
        - unless @slideshow.new_record?
          = fields_for Photo.new do |f|
            = f.file_field :img, :rel => admin_slideshow_photos_path(@slideshow)

- content_for :sidebar, render(:partial => 'sidebar')
