.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", admin_people_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_person_path
      %li.active= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_person_path
      %li= link_to "Подписчики", admin_subscribe_path      
  .content
    %h2.title
      = t("web-app-theme.edit", :default => "Edit")
      ученика
    .inner
      = form_for @person, :url => admin_person_path(@person), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
- content_for :sidebar, render(:partial => 'sidebar')
