.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", admin_people_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_person_path
      %li.active= link_to "Подписчики", admin_subscribe_path      
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      ученики
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            Дата создания
          %th          
            = t("activerecord.attributes.admin_person.fullname", :default => t("activerecord.labels.fullname", :default => "Fullname"))
          %th= t("web-app-theme.birthday", :default => "Возраст")
          %th="Группа"
          %th="Подписан на общие новости"
          %th="Подписан на новости группы"                    
          %th.last &nbsp;
        - @people.each do |person|
          %tr{:class => cycle("odd", "even")}
            %td
              = person.id
            %td
              = l person.created_at , :format=>:brth
            %td
              = link_to person.fullname, admin_person_path(person)
            %td
              = age(person.birthday) if @person
            %td
              = person.current_group
            %td
              = "V" if person.sub_all              
            %td
              = "V" if person.sub_group              
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", admin_person_path(person)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_person_path(person)} 
              |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_person_path(person), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
    %h2.title
      = @count 
      подписалось
- content_for :sidebar, render(:partial => 'sidebar')
