.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_groups_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_group_path
      %li= link_to "#{t("web-app-theme.actual", :default => "Актуальные")}", admin_actual_groups_path
      %li= link_to "#{t("web-app-theme.old", :default => "Старые")}", admin_old_groups_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      группы
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.admin_group.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th= t("web-app-theme.label", :default => "Короткая ссылка")
          %th
            Позиция
          %th
            Уч программа
          %th.last &nbsp;
        - @groups.each do |group|
          %tr{:class => cycle("odd", "even"),:style=>"opacity:#{(group.open) ? '1':'0.6'};"} 
            %td
              = group.id              
            %td
              = link_to group.name, admin_group_path(group)
            %td
              = link_to group.label, view_group_path(group.label) if group.label?
            %td
              = group.position              
            %td
              = group.program.name
            
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", admin_group_path(group)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_group_path(group)} 
              |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_group_path(group), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
- content_for :sidebar do
  .block
    %h3 Типы групп
    %ul.navigation
      %li
        %a{:href => "/admin/groups?tag=school"} Школа 
      %li
        %a{:href => "/admin/groups?tag=courses"} Фотокурсы
      %li
        %a{:href => "/admin/groups?tag=animation"} Анимация
      %li
        %a{:href => "/admin/groups"} Все