#copyright    
  Copyright &copy; #{Date.today.year}
#footmen.menu
  %span
    %p
      =link_to "ШКОЛА","/school"
    %dl
      %dt
        = link_to "Первый год","/programs/1"
      %dd
        = link_to "Гаврилов","/groups/sh14"
      %dd
        = link_to "Зеленский","/groups/sh13"
      %dd
        = link_to "Лиховид","/groups/sh12"
      %dd
        = link_to "Паромов","/groups/sh18"
      %dd
        = link_to "Симон","/groups/sh11"
    %dl
      %dt
        = link_to "Второй год","/programs/2"
      %dd        
        = link_to "Гаврилов","/groups/sh24"        
      %dd
        = link_to "Паромов","/groups/sh28"
      %dd
        = link_to "Лиховид","/groups/sh22"
      %dd
        = link_to "Зеленский","/groups/sh23"
    %dl
      %dt
        Третий год
      %dd
        = link_to "Лиховид","/groups/sh32"
      %dd
        = link_to "Симон","/groups/sh31"
  %span
    %p
      КУРСЫ
    %dl
      %dt
        = link_to "ФОТОКУРСЫ","/courses"
      %dd
        = link_to "Первая ступень","/groups/cours11"
      %dd
        = link_to "Вторая ступень","/groups/cours21"
      %dd
        По выходным
      %dd
        По рабочим
      %dd
        Старшая группа
      %dd
        Младшая группа
      %dt
        Индивидуальные занятия
      %dt
        Авторские курсы
      %dd
        «Непостановочная
        фотография»
      %dd
        «Портрет в атмосфере»
      %dd
        «Свадебная фотография»
  %span
    %p
      &nbsp
    %dl
      %dt
        =link_to "Анимация","/animation"
      %dd
        = link_to "Песочная анимация","groups/pesok"
      %dd
        = link_to "Anime курс","/groups/anime"
      %dd
        = link_to "Мультклуб","/groups/multclub"        
      %dt
        =link_to "Киношкола","/cinemacourse"
  %span
    %p
      =link_to "ПРЕПОДАВАТЕЛИ","/teachersall"
    %dl  
      %dt
        Максим СИМОН
      %dt
        Мария ЛИХОВИД
      %dt
        Сергей ГАВРИЛОВ
      %dt
        Даниил ЗЕЛЕНСКИЙ
      %dt
        Евгения МАРКОВА
      %dt
        Александр ПАРОМОВ
      %dt
        Виктория УШКАНОВА
      %dt
        Виктория СПИРЯГИНА
      %dt
        Дарья МАЛЫШЕВА
      %dt
        Юрий ИВАЩЕНКО
      %dt
        Антон ЕРОШИН
  %span
    %p
      СВЯЗЬ
    %dl  
      %dt
        Подписка на новости
      %dt
        = link_to "Страница ВКонтакте","http://vkontakte.ru/school_f"
      %dt
        = link_to "Страница Facebook","http://www.facebook.com/group.php?gid=151694381512817"
      %dt
        Адрес в Москве
      %dt
        Обратный звонок
      %dt
        Написать письмо
      %dt
        =link_to "СТАРАЯ ВЕРСИЯ САЙТА", "http://2010.school-f.ru"
    %br        
    %p
      ВЫСТАВКИ
    %dl  
      %dt
        «Филион» 2011
      %dt
        «Метрополис» 2010
      %dt
        «Филион» 2010
  %span
    %p
      ПРОЕКТЫ
    %dl
      %dt
        Орленок 2011
      %dt
        Лето 2012
    %br
    %p{:style=>"display:none;"}
      СЕЗОНЫ
    %dl{:style=>"display:none;"}  
      %dt
        2011    
      %dt
        =link_to "2010","http://2010.school-f.ru"
      %dt
        2009
      %dt
        2008
      %dt
        2007        