#copyright    
  Copyright &copy; #{Date.today.year}
#footmen.menu
  .column
    %p
      =link_to "ШКОЛА","/school"
    %ul
      %li
        = link_to "Первый год","/programs/1"
        %ul
          %li
            = link_to "Гаврилов","/groups/sh14"
          %li
            = link_to "Зеленский","/groups/sh13"
          %li
            = link_to "Лиховид","/groups/sh12"
          %li
            = link_to "Паромов","/groups/sh18"
          %li
            = link_to "Симон","/groups/sh11"
    %ul
      %li
        = link_to "Второй год","/programs/2"
        %ul
          %li        
            = link_to "Гаврилов","/groups/sh24"        
          %li
            = link_to "Паромов","/groups/sh28"
          %li
            = link_to "Лиховид","/groups/sh22"
          %li
            = link_to "Зеленский","/groups/sh23"
    %ul
      %li
        = link_to "Третий год","/programs/3"
        %ul
          -#%dd
            = link_to "Лиховид","/groups/sh32"
          %li
            = link_to "Симон","/groups/sh31"
  .column
    %p
      = link_to "ФОТОКУРСЫ","/courses"
    %ul
      %li
        = link_to "Первая ступень","/programs/6"
        %ul
          %li
            =link_to "По выходным", "/groups/cours12"
          %li
            =link_to "По рабочим","/groups/cours14"
      %li
        = link_to "Вторая ступень","/programs/5"
        %ul
          %li
            = link_to "По выходным", "/groups/cours22"
          %li
            = link_to "По рабочим","/groups/cours21"
      %li
        Авторские курсы
        %ul
          %li
            =link_to "«Непостановочная фотография»","/groups/22"
          %li
            «Портрет в атмосфере»
          %li
            =link_to "«Свадебная фотография»","/groups/svadba"
          %li
            =link_to "«Аналоговая фотография»","/groups/analog"            
  .column
    %p
      =link_to "МУЛЬТИПЛИКАЦИОННЫЕ КУРСЫ","/animation"
    %ul
      %li
        = link_to "Песочная анимация","/groups/pesok"
      %li
        = link_to "Anime курс","/groups/anime"
      %li
        = link_to "Мультклуб","/groups/multclub"        
    %p        
      &nbsp;
    %ul
      %li
        =link_to "Киношкола","/cinemacourse"
    %ul
      %li
        Индивидуальные занятия        
  .column
    %p
      =link_to "ПРЕПОДАВАТЕЛИ","/teachersall"
    %ul  
      %li
        Максим СИМОН
      %li
        Мария ЛИХОВИД
      %li
        Сергей ГАВРИЛОВ
      %li
        Даниил ЗЕЛЕНСКИЙ
      %li
        Евгения МАРКОВА
      %li
        Александр ПАРОМОВ
      %li
        Виктория УШКАНОВА
      %li
        Виктория СПИРЯГИНА
      %li
        Дарья МАЛЫШЕВА
      %li
        Юрий ИВАЩЕНКО
      %li
        Антон ЕРОШИН
  .column
    %p
      СВЯЗЬ
    %ul  
      %li
        Подписка на новости
      %li
        = link_to "Страница ВКонтакте","http://vkontakte.ru/school_f"
      %li
        = link_to "Страница Facebook","http://www.facebook.com/group.php?gid=151694381512817"
      %li
        = link_to "Адрес в Москве","http://school-f.ru/contacts"
      %li
        Обратный звонок
      %li
        Написать письмо
      %li
        =link_to "СТАРАЯ ВЕРСИЯ САЙТА", "http://2010.school-f.ru"
    %br        
    %p
      ВЫСТАВКИ
    %ul  
      %li
        «Филион» 2011
      %li
        «Метрополис» 2010
      %li
        «Филион» 2010
  .column
    %p
      ПРОЕКТЫ
    %ul
      %li
        Орленок 2012
      %li
        Лето 2012
    %br
    %p{:style=>"display:none;"}
      СЕЗОНЫ
    %ul{:style=>"display:none;"}  
      %li
        2011    
      %li
        =link_to "2010","http://2010.school-f.ru"
      %li
        2009
      %li
        2008
      %li
        2007        