%footer#footer
  .container
    .row.sections
    .row.credits
      .col-md-12
        .row.social
          .col-md-12
            %a.facebook{href: "http://www.facebook.com/charschool"}
              %span.socialicons.ico1
              %span.socialicons_h.ico1h
            %a.twitter{href: "http://twitter.com/school_f"}
              %span.socialicons.ico2
              %span.socialicons_h.ico2h
            %a.gplus{href: "https://plus.google.com/105178323799000662791"}
              %span.socialicons.ico3
              %span.socialicons_h.ico3h
        .row.menu
          %ul{:style=>"margin-left: 10px;"}
            - Menu.where("parent is ?", nil).order("position").each do |menu|
              %li{:style=>"float:left; width: 220px; margin-bottom:10px; list-style-type: none;"}
                = link_to menu.name, menu.link
                - if menu.children.exists?
                  %ul{:style=>"margin-left: 10px;list-style-type: none;"}
                    - menu.children.each do |children|
                      %li
                        = link_to children.name, children.link
                        - if children.children.exists?
                          %ul
                            - children.children.each do |subchildren|
                              %li
                                = link_to subchildren.name, subchildren.link
        .row.copyright
          .col-md-12
            Copyright &copy; #{Time.now.year}  ООО "Игра Фотокросс". Все права защищены.

= javascript_include_tag 'application','bootstrap.min','theme','index-slider','maskedinput.min', controller_name, 'galleria-1.3.3'
= render 'layouts/analytics'
%script
  jQuery(function($){
  $(".tel").mask("(999)999-99-99",{placeholder:" "});
  });
  Galleria.loadTheme('assets/themes/classic/galleria.classic.min.js');
  Galleria.run('.galleria');


