#jsnotice
  В вашем браузере отключен Javascript. При выключенном Javascript сайт может работать не корректно.
  Рекомендуем 
  %a{:href=>"http://www.enable-javascript.com/ru/"}включить поддержку Javascript в вашем браузере!
#nav-wrapper
  #navigation
    %p
      = link_to_unless_current 'Детская школа визуальных искусств','/'
    #search
      %form
        %input#searchtxt{:placeholder => "Поиск...", :results => "10", :type => "search"}/
      .logo
        %a{:href=>"http://fotohaus.ru", :target=>"_blank"}
          %img{:alt => "fotohaus", :height => "26", :longdesc => "http://fotohaus.ru", :src => "/images/fotohaus190.png", :width => "190", :style=>"border: 0;"}/
    %nav#menu
      %ul
        %li
          = link_to_unless_current 'ШКОЛА',"/school"
        %li
          = link_to_unless_current 'КУРСЫ',"/courses"
        %li
          = link_to_unless_current "СЕМИНАРЫ", "/workshop"
        %li
          = link_to_unless_current "ПРЕПОДАВАТЕЛИ","/teachersall"
        %li
          = link_to_unless_current "КОНТАКТЫ", "/contacts"
