!!!
%html
  %head
    %meta{ :charset => "utf-8" }/
    %title ДШВИ
    = stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/orange/style", "web-app-theme/override","jquery-ui-1.8.15.custom"
    = javascript_include_tag :defaults,:ckeditor,"galleria"
    = include_gritter 
    = render "layouts/redactor"
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          %a{:href => "/"} ДШВИ
        #user-navigation{:style=>"position: absolute; top:5px; right: 5px; height: 30px;"}
          %ul.wat-cf
            %li
              = current_user.email.to_s + current_user.name.to_s
            %li
              %a{:href => "#"}= t("web-app-theme.profile", :default => "Profile")
            %li
              %a{:href => "#"}= t("web-app-theme.settings", :default => "Settings")
            %li
              %a.logout{:href => logout_path }= t("web-app-theme.logout", :default => "Выдох")
        #main-navigation
          %ul.wat-cf
            %li{:class => controller.controller_path == 'admin/programs' ? 'active' : '' }
              %a{:href => admin_programs_path} Учебные программы
            %li{:class => controller.controller_path == 'admin/teachers' ? 'active' : '' }
              %a{:href => admin_teachers_path} Преподаватели
            %li{:class => controller.controller_path == 'admin/groups' ? 'active' : '' }
              %a{:href => admin_groups_path} Группы              
            %li{:class => controller.controller_path == 'admin/welcomes' ? 'active' : '' }
              %a{:href => admin_welcomes_path} Баннеры на главную
            %li{:class => controller.controller_path == 'admin/people' ? 'active' : '' }
              %a{:href => admin_people_path} Ученики
            %li{:class => controller.controller_path == 'admin/pages' ? 'active' : '' }
              %a{:href => admin_pages_path} Страницы
            %li{:class => controller.controller_path == 'admin/slideshows' ? 'active' : '' }
              %a{:href => admin_slideshows_path} Slideshows
            %li{:class => controller.controller_path == 'admin/directions' ? 'active' : '' }
              %a{:href => admin_directions_path} Directions
            %li{:class => controller.controller_path == 'admin/live_news' ? 'active' : '' }
              %a{:href => admin_live_news_index_url} LiveNews
            %li{:class => controller.controller_path == 'admin/menus' ? 'active' : '' }
              %a{:href => admin_menus_path} Menus
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year} ДШВИ.
        #sidebar
          = link_to image_tag("http://www.teamer.ru/i/logo.gif"), "http://www.teamer.ru/projects/40827/"
          %br/
          = link_to image_tag("http://www.google.com/images/logos/analytics_logo.gif"), "https://www.google.com/analytics/web/#report/visitors-overview/a12319375w26363567p24972892/"
          = yield :sidebar
  = yield :scripts