!!!
%html
  %head
    %meta{ :charset => "utf-8" }/
    %title Children Art School
    = stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/orange/style", "web-app-theme/override","jquery-ui-1.8.15.custom"
    = javascript_include_tag 'application'
    = include_gritter 
    = render "layouts/redactor"
    %script
      var CKEDITOR_BASEPATH = '/assets/ckeditor/';
      var APPLICATION_CSS   = '#{asset_path("application.css") }';
    =javascript_include_tag "ckeditor/ckeditor"    
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          %a{:href => "/"} Детская школа искусств
        #user-navigation{:style=>"position: absolute; top:5px; right: 5px; height: 30px;"}
          %ul.wat-cf
            %li
              = current_user.email.to_s + current_user.name.to_s if current_user
            %li
              %a{:href => "#"}= t("web-app-theme.profile", :default => "Profile")
            %li
              %a{:href => "#"}= t("web-app-theme.settings", :default => "Settings")
            %li
              %a.logout{:href => logout_path }= t("web-app-theme.logout", :default => "Выдох")
        #main-navigation
          %ul.wat-cf
            %li{:class => controller.controller_path == 'dashboard' ? 'active' : '' }
              %a{:href => "/dashboard"} Dashboard          
            %li{:class => controller.controller_path == 'admin/programs' ? 'active' : '' }
              %a{:href => admin_programs_path} Учебные программы
            %li{:class => controller.controller_path == 'admin/teachers' ? 'active' : '' }
              %a{:href => admin_teachers_path} Преподаватели
            %li{:class => controller.controller_path == 'admin/groups' ? 'active' : '' }
              %a{:href => admin_groups_path} Группы              
            %li{:class => controller.controller_path == 'admin/welcomes' ? 'active' : '' }
              %a{:href => admin_welcomes_path} Баннеры на главную
            %li{:class => controller.controller_path == 'admin/people' ? 'active' : '' }
              %a{:href => admin_people_path} Ученики
            %li{:class => controller.controller_path == 'admin/pages' ? 'active' : '' }
              %a{:href => admin_pages_path} Страницы
            %li{:class => controller.controller_path == 'admin/slideshows' ? 'active' : '' }
              %a{:href => admin_slideshows_path} Слайдшоу
            %li{:class => controller.controller_path == 'admin/directions' ? 'active' : '' }
              %a{:href => admin_directions_path} Направления
            %li{:class => controller.controller_path == 'admin/live_news' ? 'active' : '' }
              %a{:href => admin_live_news_index_url} LiveNews
            %li{:class => controller.controller_path == 'admin/menus' ? 'active' : '' }
              %a{:href => admin_menus_path} Футерменю
            %li{:class => controller.controller_path == 'admin/attendances' ? 'active' : '' }
              %a{:href => admin_attendances_path} Посещения детей
            %li{:class => controller.controller_path == 'admin/lessons_logs' ? 'active' : '' }
              %a{:href => admin_lessons_logs_path} Прошедшие занятия
            %li{:class => controller.controller_path == 'admin/locations' ? 'active' : '' }
              %a{:href => admin_locations_path} Локации
            %li{:class => controller.controller_path == 'admin/payments' ? 'active' : '' }
              %a{:href => admin_payments_path} Оплата
            %li{:class => controller.controller_path == 'admin/record_books' ? 'active' : '' }
              %a{:href => admin_record_books_path} Зачетка
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year}  ООО "Игра Фотокросс". Все права защищены.
        #sidebar
          = link_to image_tag("http://www.teamer.ru/i/logo.gif"), "http://www.teamer.ru/projects/40827/"
          %br/
          = link_to image_tag("http://www.google.com/images/logos/analytics_logo.gif"), "https://www.google.com/analytics/web/#report/visitors-overview/a12319375w26363567p24972892/"
          = yield :sidebar
  = yield :scripts