!!! 5
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
-ie_html :class => 'no-js', :lang => 'ru' do
  %head
    -# To render a different stylesheet partial inside the head (i.e. for admin layout)
    -# just copy _stylesheets.html.haml, and point to that partial instead.
    = render "layouts/head", :stylesheet_partial => "layouts/stylesheets"
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %link{:href => "/stylesheets/default.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/nivo-slider.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    :css
      body {
          font-family: "DINPro-Regular",sans-serif;
          width: 1024px;
          margin: 0 auto;
      }
        .h{
          text-align: center;
          background:url(/images/slider.png) no-repeat  #f68d76;
      		background-position: center top;      
          padding: 5px;
          margin: 0 auto;
          margin-bottom: 30px;
          margin-top: 0px;
          z-index: 1000;
          width: 200px;
          color: #fff;
          font-size: 20px;
          font-family: "DINPro-Regular",sans-serif;
          font-style: normal;
          font-weight: 500;
        }
        .more_item {
          width: 33%;
          float: left;
          text-align: left;
          background: #ededee;
          position: relative;
        }
        .img_direction {
          margin: 0 0px 10px 40px;
          width: 250px;
          height: 200px;
          
        }
        .item_event {
          margin: 15px 30px 15px 0px;
          position: relative;
          float: left;
        }
        .date {
          border: 0px solid black;
          margin: 0 5px;
          height: 75px;
          width: 75px;
          text-align: center;
          float: left;
          border-radius: 15px;      
          -moz-border-radius: 15px;
          -khtml-border-radius: 15px;
          -webkit-border-radius: 15px;      
        }
        .month {
          font-size: 14px;
          padding: 5px 0;
          background: #f9a870;
          width: 75px;
          border-radius: 15px 15px 0 0 / 15px 15px 0 0;
          -moz-border-radius: 15px 15px 0 0 / 15px 15px 0 0;
          -khtml-border-radius: 15px 15px 0 0 / 15px 15px 0 0;
          -webkit-border-radius: 15px 15px 0 0 / 15px 15px 0 0;      
          color: #fff;
          font-style: normal;
          font-weight: 500; 
          
        }
        .day {
          font-size: 39px;
          background: #fec779;
          width: 75px;      
          border-radius: 0 0 15px 15px/ 0 0 15px 15px;      
          -moz-border-radius: 0 0 15px 15px/ 0 0 15px 15px;
          -khtml-border-radius: 0 0 15px 15px/ 0 0 15px 15px;
          -webkit-border-radius: 0 0 15px 15px/ 0 0 15px 15px;
          color: #fff;  
          font-style: normal;
          font-weight: 500; 
              
        }
        .img_more {
          margin: 20px auto;
          border: 0px solid black;
          border-radius: 125px;
          -moz-border-radius: 125px;
          -khtml-border-radius: 125px;
          -webkit-border-radius: 125px;
          width: 250px;
          height: 250px;
        }
        .text_more {
          text-align: left;
          padding: 0 40px;
          font-size: 14px;
        }
        .link_more {
          text-align: right;
          float: right;
          padding-right: 40px;
        }
        .info ,.info a{
          font-size: 14px;
          color: #000;
          width: 130px;
          float: left;
        }
        
        #more, #direction, #next_course, #container {
          background:url(/images/slider.png) no-repeat #ededee;
      		background-position: center top;
          width: 100%;
          position: relative;
          overflow: hidden;
          padding-bottom: 30px;          
        }
        #next_course {
          background:url(/images/slider.png) no-repeat #fff;
        }
        nav {
          position: relative; 
          margin: 0 auto; 
          width: 400px; 
          top: 30px;
          display: block;
        }
        nav ul {
          font-size: 15px;
        }
        nav ul li {
          float: left; 
          margin-right: 50px;
        }
        nav ul li a {
          color: black;
        }
        article.more_item h1 {
          font-size: 18px;
          font-family: "DINPro-Regular",sans-serif;
          font-style: normal;
          font-weight: 500; 
          padding: 0 40px;   
        }
        article.item_event h1 {
          padding:0;
          margin: 0;
          font-weight: normal;
        }
        #contacts {
          position: absolute; 
          right: 30px; 
          top: 15px; 
          width: 230px; 
          text-align: right;
        }

  %body{:style => "margin: 0 auto; width: 1024px;", :class => "#{controller.controller_name}" }
    = render "layouts/fb"
    %header{:style => "height: 100px; position: relative; margin: 0 auto; background: #fff; padding:0; width: 1024px;"}
      #logo{:style => "left: 30px;top: 15px; position: absolute; width: 140px; height: 70px;"}
        %a{:href=>"/"}
          %img{:src => "/images/logo.png", :style => " width: 130px;"}/
      %nav
        %ul
          %li
            = link_to_unless_current 'ШКОЛА',"/school?menu"
          %li
            = link_to_unless_current 'КУРСЫ',"/courses?menu"
          %li
            = link_to_unless_current "ПРАЗДНИКИ", "/birthday?menu"
          - if current_user
            %li
              = link_to_unless_current "Админка", "/dashboard"
          
      #contacts
        #tel{:style => "font-size: 24px;margin: 5px 0;"} +7 (495) 720-27-55
        %div
          %a{:href => "/contacts", :style => "color: black;font-size: 15px; "} другие контакты
    #container
      #main{ :role => 'main' }
        = render "layouts/flashes"
        = yield
      #container-footer        
    %footer#footer
      = render "layouts/footer"

    -# Javascript at the bottom for fast page loading
    = render "layouts/javascripts"
    = render :partial => "layouts/analytics"    

    :javascript
      $(window).load(function() {
          $('#slider').nivoSlider({effect: 'slideInRight'});
      });