!!!
%html
  %head
    %title Children Art School
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js'
    -#= javascript_include_tag 'galleria-1.3.3'
    -#= javascript_include_tag 'themes/classics/galleria.classic.min'
    
    %link{href: "http://fonts.googleapis.com/css?family=Nunito:700", rel: "stylesheet", type: "text/css"}/

    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Scripts
    -#%script{src: "http://code.jquery.com/jquery-latest.js"}
    = render "layouts/prostor"    
  %body.pull_top

    .navbar.transparent.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: "/"}
            %strong{:style=>"font-family: 'Nunito', sans-serif;"} Children Art School
            %br
            %strong{:style=>"font-size:12px;"}
              Фотография, анимация, кино для детей от 7 до 17 лет
          .nav-collapse.collapse         
            =render "layouts/menu_top"
    = yield
    -#teams.section.text-center
      .container
        .section_header
          %h3 Наша команда
        -@teachers.each do |teacher|
          -teacher.avatar.recreate_versions!
          =image_tag teacher.avatar.url(:small_c), :class=>"img-circle"
      
    -#contact.section
      =render "layouts/maps"
    =render "layouts/footer"
    -#%footer#footer
      .container
        .row.sections
        .row.credits
          .col-md-12
            .row.social
              .col-md-12
                %a.facebook{href: "#"}
                  %span.socialicons.ico1
                  %span.socialicons_h.ico1h
                %a.twitter{href: "#"}
                  %span.socialicons.ico2
                  %span.socialicons_h.ico2h
                %a.gplus{href: "#"}
                  %span.socialicons.ico3
                  %span.socialicons_h.ico3h
                %a.flickr{href: "#"}
                  %span.socialicons.ico4
                  %span.socialicons_h.ico4h
                %a.pinterest{href: "#"}
                  %span.socialicons.ico5
                  %span.socialicons_h.ico5h
            .row.copyright
              .col-md-12
                Copyright &copy; #{Time.now.year}  ООО "Игра Фотокросс". Все права защищены.

      = javascript_include_tag 'application','bootstrap.min','theme','index-slider','maskedinput.min'
      = render 'layouts/analytics'
      %script
        jQuery(function($){
        $(".tel").mask("(999)999-99-99",{placeholder:" "});
        });